body {
    background-color: black;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

h1 {
    display: flex;
    justify-content: center;
    grid-column: 2/3;
    color: white;
    object-fit: contain;
}

#imgh2 {
    display: flex
    
}

h2 {
    color: black;
    margin: 0;
    font-size: 110%;
    justify-content: center;
}

h3 {
    color: gold;
    text-align: center;
}

h4 {
    margin: 8px;
    font-size: larger;
}

#img {
    grid-column: 2/3;
}

nav {
    grid-column: 1/4;
    background-color: gold;
}

nav div {
    margin: 10px;
}

.flex-nav {
    display: flex;
    justify-content: space-between;
    grid-column: 1/4;
}

p {
    color: white;
    text-indent: 35px;
}

img {
    width: 100%;
    height:100%;
    display: block;
    object-fit: cover;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 450px 450px;
}